.title {
  margin: 30px;
}
.result {
  margin-top: 50px;
  margin-bottom: 50px;
  display: none;
}
.success-result {
  display: none;
}
.no-result {
  display: none;
}
.grey-color {
  color: grey;
  font-style: italic;
}
#error {
  display: none;
  color:  red;
  padding-left: 20px;
}
.content {
  margin-top: 10px;
}
.preamble {
  padding: 15px 0 0 10px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #428bca;
  color: #004085;
}
hr {
  margin: 50px 0;
  border: 2px solid #428bca;
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

.me-auto .dropdown-lang {
  left: auto !important;
  right: 0px;
}

.caseLib {
  padding: 0px 5vw;
}

.content {
  margin-bottom: 50px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 25px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14rem; 
}

.center {
  text-align: center;
}

.copyright {
  color:  black;
  margin-top: 50px;
  text-align: center;
} 

.page-content {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 14rem; 
}